* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.outlet {
  // padding-top: 160px;
  min-height: 90vh;
}

.file-container table {
  width: 90% !important;
  margin: 10px;
}
